* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url('img/business-men.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

main {
    background-color: grey;
    height: 800px;
    position: relative;
}

.container-grey {
    background-color: #f9f9f9;
    height: 155px;
}

.container-main {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.container-main2 {
    width: 1300px;
    margin: auto;
    text-align: center;
}

.container-main3 {
    width: 1300px;
    margin: auto;
}

.main-1 {
    width: 70%;
    position: absolute;
    top: 6%;
    transform: translateY(-10%);
    left: 15%;
}

.main-1 h1 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
}

.main-1 p {
    color: #999;
    font-size: 18px;
    font-weight: normal;
}

.container-white {
    background-color: white;
    height: 550px;
    border-bottom:1px solid lightgrey;
}

.container-white2 {
    background-color: white;
    height: 550px;
}

#block1 {
    float: left;
    padding-top: 35px;
    width: 30%;
}

#block1 h1 {
    color: lightgreen;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;

}

#block1 p {
    font-weight: normal;
    font-size: 16px;

}

#block1 img {
    max-width: 30%;
    height: auto;
    margin-bottom: 45px;
}

#block2 {
    float: left;
    padding-top: 35px;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}

#block2 h1 {
    color: lightgreen;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 55px;

}

#block2 p {
    font-weight: normal;
    font-size: 16px;

}

#block2 img {
    max-width: 51%;
    height: auto;
    margin-bottom: 45px;
}

#block3 {
    float: left;
    padding-top: 35px;
    width: 30%;
}

#block3 h1 {
    color: lightgreen;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 55px;
}

#block3 p {
    font-weight: normal;
    font-size: 16px;

}

#block3 img {
    max-width: 35%;
    height: auto;
    margin-bottom: 45px;
}

.main-3 {
    background-color: white;
    height: 400px;
}

#grafico {
    float: left;
    padding-top: 65px;
    width: 50%;
}

#grafico img {
    padding-left: 20%;
    max-width: 80%;
    height: auto;
    margin-bottom: 45px;
}

#block4 {
    float: left;
    padding-top: 185px;
    width: 30%;
    margin-left: 10%
}

#block4 h1 {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 20px;
}

#block4 p {
    font-size: 16px;
    padding-bottom: 20px;
}

#block4 a {
    font-size: 16px;
    color: lightblue;
}

.main-4 {
    background-color: blue;
    height: 300px;
}

#main-5 {
    background-color: white;
    height: 400px;
    border-bottom: 2px solid black;
}

#main-6 {
    background-color: white;
    height: 400px;
}

#main-7 {
    background-color: white;
    height: 400px;
}

#main-8 {
    background-color: blue;
    height: 170px;
}
